#MOST IMPORTANT
STRING_SESSION = BQAKp_-vZ4PDyaXsa-sBc4poBYPG6KUOYx9YzhaqMI3O_whKGxwXtyRu80e3wovVvTKENmoi1-KYWdahlL3-Kw682JhUcrJMP7GMX11ocA36ThdHeWe6u4m4e3qxafPYt15BCEaGbF5pbF0v_A_GMxxi7c4TQAG7M3EY3_8CmU8oNJ7KhETtBFPDnaSnBVX0oTYz_5lausVa2geulXGVte3u6LhpQ4_eBVHaGs_oSejBHezrC91qITozTMxJtUutY9c8-hjC7e_bIqfx1fRoaDbUzqRxKikMnIhcpgHhi0H-75BySMbvOt3Cntwcjy77_plzcukuzvlQ3sKXBNINx806AAAAATSxMWEA 
API_ID = 17970821
API_HASH = 003372b4ed8046b0358f306acc6673e7
BOT_TOKEN = 5278003608:AAHxXR0jn_JU8WQPFVarLdER170OX4ZlSEI
MONGO_DB_URI = mongodb+srv://music:achil234@music.bjpji.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001607737427
MUSIC_BOT_NAME = Hikari Music
OWNER_ID = 1224143544
SUPPORT_CHANNEL = https://t.me/tirexgugel
SUPPORT_GROUP = https://t.me/rexaprivateroom
MUST_JOIN = rexaprivateroom

#CONFIG
CLEANMODE_MINS = 10
AUTO_LEAVING_ASSISTANT = True
ASSISTANT_LEAVE_TIME = 5400
SERVER_PLAYLIST_LIMIT = 40
DURATION_LIMIT = 180
TG_VIDEO_FILESIZE_LIMIT = 2122317824

#APPSTREAM
UPSTREAM_REPO = https://github.com/Rexashh/musichikari
UPSTREAM_BRANCH = master

#SPOTIFY 
SPOTIFY_CLIENT_ID = 9bc6f82110ed43baab2932296e357279
SPOTIFY_CLIENT_SECRET = ffae7499d4344d79b8bf2e51c951e71e         
